<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-6">
  
          <div class="row">
            <h1 class="heading">digg</h1>
          </div>
          <label>Progress</label>
          <div class="progress progress_style">
            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="row">
            <p class=" text-h3 q_head col mt-4">
                What industries would you prefer to
                work in?</p>
            
          </div>
          <div>
              <button class="btn mt-4 btn-style" *ngFor="let industry of industries">
                 
                  <span > {{industry}}</span>
                </button>
             
          </div>
        
          <div class="row row-cols-6">
              <div class="col mt-4" (click)="goBackToSecond()"><u>Back</u></div>
              <button  class="btn mt-4 btn-customise" (click)="callFourthQuestionair()"><span>Next</span></button>
            </div>
        </div>
      </div>
    </div>
  </section>